Repository VultureProject/darwin, pull requests merged in 2020-09, with the labels that each got.

#202 FHOSTLOOKUP:: FIX ABSENT FEED_NAME IN CASE OF NON-TEXT DB
  samples/fhostlookup/Generator.cpp
  samples/fhostlookup/Generator.hpp
Labels: bug

#199 FIX TANOMALY PREPROCESS DSTHOST COUNT
  .github/workflows/docker-dev.yml
  .github/workflows/docker-releases.yml
  samples/ftanomaly/TAnomalyTask.cpp
  samples/ftanomaly/TAnomalyThreadManager.cpp
  samples/ftanomaly/TAnomalyThreadManager.hpp
  tests/filters/data/anomalyData.txt
  tests/filters/ftanomaly.py
  toolkit/StringUtils.cpp
Labels: bug, important, tests

#203 Harmonize date format
  manager/manager.py
  samples/base/Logger.cpp
Labels: enhancement

#205 Version 1.4.0: fbuffer, fixes to fhostlookup, ftanomaly and time format in logs
  .github/workflows/docker-dev.yml
  .github/workflows/docker-releases.yml
  CMakeLists.txt
  cmake/fbuffer.cmake
  conf/darwin.conf.example
  conf/fbuffer/fbuffer.conf.example
  manager/manager.py
  samples/base/AGenerator.cpp
  samples/base/AGenerator.hpp
  samples/base/Core.cpp
  samples/base/Logger.cpp
  samples/base/Server.cpp
  samples/base/Server.hpp
  samples/fbuffer/BufferTask.cpp
  samples/fbuffer/BufferTask.hpp
  samples/fbuffer/BufferThread.cpp
  samples/fbuffer/BufferThread.hpp
  samples/fbuffer/BufferThreadManager.cpp
  samples/fbuffer/BufferThreadManager.hpp
  samples/fbuffer/Connectors/AConnector.cpp
  samples/fbuffer/Connectors/AConnector.hpp
  samples/fbuffer/Connectors/Connectors.hpp
  samples/fbuffer/Connectors/fAnomalyConnector.cpp
  samples/fbuffer/Connectors/fAnomalyConnector.hpp
  samples/fbuffer/Connectors/fSofaConnector.cpp
  samples/fbuffer/Connectors/fSofaConnector.hpp
  samples/fbuffer/Generator.cpp
  samples/fbuffer/Generator.hpp
  samples/fbuffer/OutputConfig.cpp
  samples/fbuffer/OutputConfig.hpp
  samples/fbuffer/enums.hpp
  samples/fhostlookup/Generator.cpp
  samples/fhostlookup/Generator.hpp
  samples/ftanomaly/TAnomalyTask.cpp
  samples/ftanomaly/TAnomalyThreadManager.cpp
  samples/ftanomaly/TAnomalyThreadManager.hpp
  tests/conf.py
  tests/core/base.py
  tests/filters/data/anomalyData.txt
  tests/filters/fbuffer.py
  tests/filters/fhostlookup.py
  tests/filters/ftanomaly.py
  tests/filters/test.py
  tests/tools/filter.py
  toolkit/AThread.cpp
  toolkit/AThread.hpp
  toolkit/AThreadManager.cpp
  toolkit/AThreadManager.hpp
  toolkit/RedisManager.cpp
  toolkit/RedisManager.hpp
  toolkit/StringUtils.cpp
  toolkit/StringUtils.hpp
  toolkit/Uuid.cpp
  toolkit/Uuid.hpp
Labels: bug, new filter
